@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700');

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  --color-grey-225-10-15: hsl(225, 10%, 15%);
  --color-grey-225-10-35: hsl(225, 10%, 35%);
  --color-grey-225-10-55: hsl(225, 10%, 55%);
  --color-grey-225-10-75: hsl(225, 10%, 75%);
  --color-grey-225-10-80: hsl(225, 10%, 80%);
  --color-grey-225-10-85: hsl(225, 10%, 85%);
  --color-grey-225-10-90: hsl(225, 10%, 90%);
  --color-grey-225-10-95: hsl(225, 10%, 95%);
  --color-grey-225-10-97: hsl(225, 10%, 97%);

  --color-blue-205-100-45: hsl(205, 100%, 45%);
  --color-blue-205-100-50: hsl(205, 100%, 50%);
  --color-blue-205-100-80: hsl(205, 100%, 80%);
  --color-blue-205-100-95: hsl(205, 100%, 95%);

  --color-green-150-86-44: hsl(150, 86%, 44%);

  --color-red-360-100-40: hsl(360, 100%, 40%);
  --color-red-360-100-45: hsl(360, 100%, 45%);
  --color-red-360-100-92: hsl(360, 100%, 92%);
  --color-red-360-100-97: hsl(360, 100%, 97%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.properties-panel .bio-properties-panel {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.properties-panel .fjs-properties-container {
  --properties-panel-width: 300px;
  border-left: none !important;
}

.properties-panel {
  position: relative;
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.left {
  position: relative;
  flex: 1;
  flex-direction: column;
  margin-right: 4px;
  border-right: solid 1px var(--color-grey-225-10-75);
  border-left: solid 1px var(--color-grey-225-10-75);
}

.main:not(.preview-open) .left {
  margin-right: 0;
}

.main:not(.preview-open) .right {
  border-left: none;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  border-top: none !important;
}

.data-container {
  max-height: 40%;
}

.right {
  position: relative;
  flex: 1;
  flex-direction: column;
  border-right: solid 1px var(--color-grey-225-10-75);
  border-left: solid 1px var(--color-grey-225-10-75);
}

.main:not(.preview-open) .right {
  flex: 0;
  width: 36px;
}

.form-container {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
  border-top: none !important;
}

.result-container {
  max-height: 40%;
}

.palette .fjs-palette-container {
  border-right: none;
  width: auto;
}

.palette .fjs-hide-compact {
  display: none;
}

.palette .fjs-palette-field {
  justify-content: center !important;
}

.palette .fjs-palette-field-icon {
  margin: 0 !important;
}

button.action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 22px;
  line-height: 22px;
  min-width: 22px;
  margin: 5px;
  padding: 0 3px;
  border: none;
  background: none;
  text-align: center;
  fill: var(--color-grey-225-10-35);
  min-width: 22px;
  border-radius: 11px;
}

button.action:hover {
  background-color: var(--color-grey-225-10-85);
}

.cm-editor {
  background-color: white;
}